@import "mui/colors";

@each $key1, $mapVal1 in $mui-colors {
  @if type-of($mapVal1) == 'map' {
    @each $key2, $mapVal2 in $mapVal1 {
      .mui--color-#{$key1}-#{$key2} {
        color: $mapVal2 !important;
      }

      .mui--bg-color-#{$key1}-#{$key2} {
        background-color: $mapVal2 !important;
      }

      @if $key2 == '500' {
        .mui--color-#{$key1} {
          color: $mapVal2 !important;
        }

        .mui--bg-color-#{$key1} {
          background-color: $mapVal2 !important;
        }
      }
    }
    
  } @else {
    .mui--color-#{$key1} {
      color: $mapVal1 !important;
    }

    .mui--bg-color-#{$key1} {
      background-color: $mapVal1 !important;
    }
  } 
}
