//
// MUI Appbar
//

@use "global-declarations";
@use "theme";
@use "util";


$height:              64px !default;
$height-xs-portrait:  56px !default;
$height-xs-landscape: 48px !default;
$bg-color:            theme.$primary-color !default;
$font-color:          util.mui-color('white') !default;
$mobile-breakpoint:   480px;


// ============================================================================
// HELPER CLASSES
// ============================================================================

// mobile portrait
.mui--appbar-height      { height: $height-xs-portrait; }
.mui--appbar-min-height  { min-height: $height-xs-portrait; }
.mui--appbar-line-height { line-height: $height-xs-portrait; }
.mui--appbar-top         { top: $height-xs-portrait; }

// mobile landscape
@media (orientation: landscape) and (max-height: $mobile-breakpoint) {
  .mui--appbar-height      { height: $height-xs-landscape; }
  .mui--appbar-min-height  { min-height: $height-xs-landscape; }
  .mui--appbar-line-height { line-height: $height-xs-landscape; }
  .mui--appbar-top         { top: $height-xs-landscape; }
}

// all other screen sizes
@media (min-width: $mobile-breakpoint) {
  .mui--appbar-height      { height: $height; }
  .mui--appbar-min-height  { min-height: $height; }
  .mui--appbar-line-height { line-height: $height; }
  .mui--appbar-top         { top: $height; }
}

// ============================================================================
// APPBAR
// ============================================================================
.mui-appbar {
  @extend .mui--appbar-min-height;

  background-color: $bg-color;
  color: $font-color;
}
