// ================================
// Module variables
// ================================
$mui-btn-font-size: 14px;
$mui-btn-font-weight: 400;
$mui-btn-letter-spacing: 0.05em;

$mui-btn-border-width: 1px;

$mui-btn-padding-vertical-computed: ($mui-btn-height - $mui-btn-font-size) / 2 - $mui-btn-border-width;
$mui-btn-padding-horizontal-computed: $mui-btn-padding-horizontal - $mui-btn-border-width;
$mui-btn-padding-vertical-lg-computed: ($mui-btn-height-lg - $mui-base-font-size) / 2 - $mui-btn-border-width;


// ===============================
// button-text-styles()
// ===============================
@mixin button-text-styles() {
  font-weight: $mui-btn-font-weight;
  font-size: $mui-btn-font-size;
  color: $mui-base-font-color;
  line-height: $mui-btn-font-size;
  letter-spacing: $mui-btn-letter-spacing;
  text-transform: uppercase;
}


// ===============================
// button-flat-color()
// ===============================
@mixin button-flat-color($font-color, $bg-color) {
  $flat-font-color: null;
  
  @if $bg-color == #FFF {
    $flat-font-color: $mui-btn-default-font-color
  } @else {
    $flat-font-color: $bg-color;
  }

  color: $flat-font-color;
}


// ==============================
// button-borders()
// ==============================
@mixin button-borders($bg-color, $btn-style: "normal") {
  @if $btn-style == 'raised' {
    $color1: null;
    $color2: null;
    $color3: null;
    
    @if $bg-color == #FFF {
      $color1: darken($bg-color, 5%);
      $color2: darken($bg-color, 10%);
      $color3: darken($bg-color, 27%);
    } @else {
      $color1: lighten($bg-color, 10%);
      $color2: $bg-color;
      $color3: darken($bg-color, 15%);
    }

    border-top: $mui-btn-border-width solid $color1;
    border-left: $mui-btn-border-width solid $color2;
    border-right: $mui-btn-border-width solid $color2;
    border-bottom: 2px solid $color3;
  } @else {
    $border-color: $bg-color;
    
    border-top: $mui-btn-border-width solid $border-color;
    border-left: $mui-btn-border-width solid $border-color;
    border-right: $mui-btn-border-width solid $border-color;
    border-bottom: $mui-btn-border-width solid $border-color;
  }
}


// ===============================
// button-anchor-variant()
// ===============================
@mixin button-anchor-variant($font-color, $bg-color) {
  color: $font-color;
  background-color: $bg-color;
  @include button-borders($bg-color);
  
  // raised
  &.mui-btn-raised {
    @include button-borders($bg-color, "raised");
  }

  // flat
  &.mui-btn-flat {
    background-color: $mui-btn-flat-bg-color;
    @include button-flat-color($font-color, $bg-color);
    @include button-borders($mui-btn-flat-bg-color);
  }
}


// ==============================
// button-table-variant()
// ==============================
@mixin button-table-variant($font-color, $bg-color) {
  > tr > td,
  > tbody > tr > td {
    background-color: $bg-color;
    
    > a {
      color: $font-color;
      @include button-borders($bg-color);
    }
  }

  // raised
  &.mui-btn-raised {
    > tr > td,
    > tbody > tr > td {
      > a {
        @include button-borders($bg-color, "raised");
      }
    }
  }

  // flat
  &.mui-btn-flat {
    > tr > td,
    > tbody > tr > td {
      background-color: $mui-btn-flat-bg-color;

      > a {
        @include button-flat-color($font-color, $bg-color);
        @include button-borders($mui-btn-flat-bg-color);
      }
    }
  }
}


// ==============================
// Style defs
// ==============================

// shared btn styles
.mui-btn {
  cursor: pointer;
  white-space: nowrap;
}


// <a> btn styles
a.mui-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  
  @include button-text-styles();

  border-radius: $mui-btn-border-radius;
  padding: $mui-btn-padding-vertical-computed $mui-btn-padding-horizontal-computed;
  background-color: transparent;
  @include button-borders(transparent);

  &.mui-btn-default {
    @include button-anchor-variant($mui-btn-default-font-color,
                                   $mui-btn-default-bg-color);
  }

  &.mui-btn-primary {
    @include button-anchor-variant($mui-btn-primary-font-color,
                                   $mui-btn-primary-bg-color);
  }

  &.mui-btn-danger {
    @include button-anchor-variant($mui-btn-danger-font-color,
                                   $mui-btn-danger-bg-color);
  }

  &.mui-btn-accent {
    @include button-anchor-variant($mui-btn-accent-font-color,
                                   $mui-btn-accent-bg-color);
  }
}


// <table> btn styles
table.mui-btn {
  > tr > td,
  > tbody > tr > td {
    border-radius: $mui-btn-border-radius;
    
    > a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      
      @include button-text-styles();
      
      border-radius: $mui-btn-border-radius;
      padding: $mui-btn-padding-vertical-computed $mui-btn-padding-horizontal-computed;
      background-color: transparent;
      @include button-borders(transparent);
    }
  }

  &.mui-btn-default {
    @include button-table-variant($mui-btn-default-font-color,
                                  $mui-btn-default-bg-color);
  }

  &.mui-btn-primary {
    @include button-table-variant($mui-btn-primary-font-color,
                                  $mui-btn-primary-bg-color);
  }

  &.mui-btn-danger {
    @include button-table-variant($mui-btn-danger-font-color,
                                  $mui-btn-danger-bg-color);
  }

  &.mui-btn-accent {
    @include button-table-variant($mui-btn-accent-font-color,
                                  $mui-btn-accent-bg-color);
  }
}


// large buttons
a.mui-btn-lg,
table.mui-btn-lg > tr > td > a,
table.mui-btn-lg > tbody > tr > td > a {
  padding: $mui-btn-padding-vertical-lg-computed $mui-btn-padding-horizontal-computed;
}
