.#{$prfx}divider {
  display: block;
  height: 1px;
  background-color: $divider-color;
}

.#{$prfx}divider-top {
  border-top: 1px solid $divider-color;
}

.#{$prfx}divider-bottom {
  border-bottom: 1px solid $divider-color;
}

.#{$prfx}divider-left {
  border-left: 1px solid $divider-color;
}

.#{$prfx}divider-right {
  border-right: 1px solid $divider-color;
}
