/**
 * MUI Email Grid
 */

table {
  &.mui-body {
    height: 100%;
    width: 100%;
    @extend body;
  }
  
  &.mui-container {
    width: $mui-container-width;
    margin: 0 auto;
    text-align: inherit;

    table.mui-row {
      display: block;
    }
  }

  &.mui-row {
    padding: 0px;
    width: 100%;
    position: relative;
  }
}

td.mui-wrapper {
  padding: $mui-wrapper-padding-top $mui-column-gutter 0px 0px;
  position: relative;
}
