// =======================
// Alignment helpers
// =======================
.#{$mui-prfx}text-left           { text-align: left; }
.#{$mui-prfx}text-right          { text-align: right; }
.#{$mui-prfx}text-center         { text-align: center; }
.#{$mui-prfx}text-justify        { text-align: justify; }


// =======================
// Image helper
// =======================
.#{$mui-prfx}image-fix {
  display: block;
}
