/**
 * MUI Email Helpers
 */

// ============================================================================
// ALIGNMENT
// ============================================================================

.mui-text-left           { text-align: left; }
.mui-text-right          { text-align: right; }
.mui-text-center         { text-align: center; }
.mui-text-justify        { text-align: justify; }




// ============================================================================
// IMAGES
// ============================================================================

.mui-image-fix {
  display: block;
}
