.mui-panel {
  padding: $panel-padding;
  border-radius: $panel-border-radius;
  background-color: $panel-bg;
  border-top: 1px solid darken(#fff, 7%);
  border-left: 1px solid darken(#fff, 10%);
  border-right: 1px solid darken(#fff, 10%);
  border-bottom: 2px solid darken(#fff, 17%);
}
