/**
 * MUI Email Panel
 */

.mui-panel {
  padding: $mui-panel-padding;
  border-radius: $mui-panel-border-radius;
  background-color: $mui-panel-bg;
  border-top: 1px solid darken(mui-color('white'), 7%);
  @include BorderLeftOrRight("border-left", 1px, darken(mui-color('white'), 10%), solid);
  @include BorderLeftOrRight("border-right", 1px, darken(mui-color('white'), 10%), solid);
  border-bottom: 2px solid darken(mui-color('white'), 17%);
}
