// ============================
// mui-email-colors
// ============================
@mixin mui-email-color($mui-name) {
  color: $mui-base-font-color;
  
  &.#{$mui-prfx}text-black {
    color: lighten(mui-color('black'), 13%);
  }

  &.#{$mui-prfx}text-white {
    color: mui-color('white');
  }

  &.#{$mui-prfx}text-accent {
    color: lighten($mui-accent-color, 13%);
  }
}


// ============================
// Text styles
// ============================
.#{$mui-prfx}text-display4 {
  @include mui-text("display4");
  @include mui-email-color("display4");
}

.#{$mui-prfx}text-display3 {
  @include mui-text("display3");
  @include mui-email-color("display3");
}

.#{$mui-prfx}text-display2 {
  @include mui-text("display2");
  @include mui-email-color("display2");
}

.#{$mui-prfx}text-display1 {
  @include mui-text("display1");
  @include mui-email-color("display1");
}

.#{$mui-prfx}text-headline {
  @include mui-text("headline");
  @include mui-email-color("headline");
}

.#{$mui-prfx}text-title {
  @include mui-text("title");
  @include mui-email-color("title");
}

.#{$mui-prfx}text-subhead {
  @include mui-text("subhead");
  @include mui-email-color("subhead");
}

.#{$mui-prfx}text-body2 {
  @include mui-text("body2");
  @include mui-email-color("body2");
}

.#{$mui-prfx}text-body1 {
  @include mui-text("body1");
  @include mui-email-color("body1");
}

.#{$mui-prfx}text-caption {
  @include mui-text("caption");
  @include mui-email-color("caption");
}

.#{$mui-prfx}text-menu {
  @include mui-text("menu");
  @include mui-email-color("menu");
}

.#{$mui-prfx}text-button {
  @include mui-text("button");
  @include mui-email-color("button");
}
