$prfx: "mui-";

// ==============================
// Colors
// ==============================

$primary-color:             mui-color('blue', '500') !default;
$primary-color-dark:        mui-color('blue', '700') !default;
$primary-color-light:       mui-color('blue', '100') !default;

$accent-color:              mui-color('pink', 'A200') !default;
$accent-color-dark:         mui-color('pink', 'A100') !default;
$accent-color-light:        mui-color('pink', 'A400') !default;

$danger-color:              mui-color('red', '500') !default;

// =============================
// Layout
// =============================

$container-max-width:            600px !default;
$container-padding-horizontal:   15px !default;

// =============================
// Scaffolding
// =============================

$body-background-color:     mui-color('white') !default;
$link-font-color:           $primary-color !default;
$link-text-decoration:      none !default;
$hr-color:                  lighten(mui-color('black'), 88%) !default;

// =============================
// Typography
// =============================
$base-font-color:           lighten(mui-color('black'), 13%) !default;
$base-font-family:          "Helvetica Neue", Helvetica, Arial, Verdana, "Trebuchet MS" !default;
$base-font-size:            14px !default;
$base-font-weight:          400 !default;
$base-line-height:          1.429 !default;
$base-letter-spacing:       0.001em !default;

// =============================
// Buttons
// =============================

$btn-height:                     36px !default;
$btn-height-lg:                  $btn-height * 1.5 !default;
$btn-border-radius:              3px !default;
$btn-padding-horizontal:         26px !default;

$btn-default-background-color:   mui-color('white') !default;
$btn-default-font-color:         $base-font-color !default;

$btn-primary-background-color:   $primary-color !default;
$btn-primary-font-color:         mui-color('white') !default;

$btn-danger-background-color:    $danger-color !default;
$btn-danger-font-color:          mui-color('white') !default;

$btn-accent-background-color:    $accent-color !default;
$btn-accent-font-color:          mui-color('white') !default;

$btn-flat-background-color:      transparent !default;

// ===============================
// Panels
// ===============================

$panel-bg:                       mui-color('white') !default;
$panel-padding:                  15px !default;
$panel-border-radius:            0 !default;

// ==============================
// Dividers
// ==============================

$divider-color:                  lighten(mui-color('black'), 88%) !default;

// ==============================
// Internal variables
// ==============================
$base-line-height-computed: floor(($base-font-size * $base-line-height));
