/**
 * MUI Buttons
 */

$mui-btn-box-shadow-raised: 
  0 0px 2px rgba(mui-color('black'), 0.12),
  0 2px 2px rgba(mui-color('black'), 0.20);

$mui-btn-box-shadow-active:
  0 10px 20px rgba(mui-color('black'), 0.19),
  0 6px 6px rgba(mui-color('black'), 0.23);



// ============================================================================
// MAIN-BUTTON-CLASS
// ============================================================================

.mui-btn {
  @include mui-node-inserted();
  @include mui-text("button");

  transition: all 0.2s ease-in-out;
  
  // Layout
  display: inline-block;
  height: $mui-btn-height;
  padding: 0 $mui-btn-padding-horizontal;
  margin-top: $mui-btn-margin-vertical;
  margin-bottom: $mui-btn-margin-vertical;
  
  // Look and feel
  border: none;
  border-radius: $mui-btn-border-radius;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;  // reset unusual Firefox-on-Android

  // Typography
  text-align: center;
  line-height: $mui-btn-height;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;

  // For ripples
  position: relative;
  overflow: hidden;
  
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
    color: $mui-btn-default-font-color;
  }

  &:hover,
  &:focus {
    box-shadow: $mui-btn-box-shadow-raised;
  }
  
  &:active {
    box-shadow: $mui-btn-box-shadow-active;
  }
  
  &:disabled,
  &.mui-disabled {
    cursor: $mui-cursor-disabled;
    pointer-events: none;
    opacity: 0.60;
    box-shadow: none;
  }
}

.mui-btn + .mui-btn {
  margin-left: $mui-btn-spacing-horizontal;
}



// ============================================================================
// BUTTON-SIZES
// ============================================================================

.mui-btn-lg {
  height: $mui-btn-height-lg;
  line-height: $mui-btn-height-lg;
}



// ============================================================================
// FLAT-BUTTONS
// ============================================================================

.mui-btn-flat {
  background-color: $mui-btn-flat-bg-color;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    background-color: $mui-btn-flat-bg-color-hover;
  }
}



// ============================================================================
// RAISED-BUTTONS
// ============================================================================

.mui-btn-raised {
  box-shadow: $mui-btn-box-shadow-raised;

  &:active {
    box-shadow: $mui-btn-box-shadow-active;
  }
}



// ============================================================================
// BUTTON-COLORS
// ============================================================================

.mui-btn-default {
  @include button-variant(
    $mui-btn-default-font-color,
    $mui-btn-default-bg-color);
  @include button-flat-variant(
    $mui-btn-default-font-color,
    $mui-btn-flat-bg-color-hover);
}

.mui-btn-primary {
  @include button-variant(
    $mui-btn-primary-font-color,
    $mui-btn-primary-bg-color);
  @include button-flat-variant(
    $mui-btn-primary-bg-color,
    $mui-btn-flat-bg-color-hover);
}

.mui-btn-danger {
  @include button-variant(
    $mui-btn-danger-font-color,
    $mui-btn-danger-bg-color);
  @include button-flat-variant(
    $mui-btn-danger-bg-color,
    $mui-btn-flat-bg-color-hover);
}

.mui-btn-accent {
  @include button-variant(
    $mui-btn-accent-font-color,
    $mui-btn-accent-bg-color);
  @include button-flat-variant(
    $mui-btn-accent-bg-color,
    $mui-btn-flat-bg-color-hover);
}



// ============================================================================
// FLOATING-BUTTON
// ============================================================================

.mui-btn-floating {
  @extend .mui-btn-raised;

  position: relative;
  z-index: 1;
  width: 55px;
  height: 55px;
  line-height: 55px;
  padding: 0;
  border-radius: 50%;
  color: $mui-btn-floating-font-color;
  background-color: $mui-btn-floating-bg-color;

  &:hover,
  &:focus,
  &:active {
    color: $mui-btn-floating-font-color;
    background-color: lighten($mui-btn-floating-bg-color, 5%);
  }
}



// ============================================================================
// FLOATING-BUTTON-SIZES
// ============================================================================

.mui-btn-floating-mini {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
