// =======================
// Module variables
// =======================
$mui-btn-box-shadow-raised: 0 1px 3px rgba(mui-color('black'), 0.12),
                            0 1px 2px rgba(mui-color('black'), 0.24);

$mui-btn-box-shadow-active: 0 10px 20px rgba(mui-color('black'), 0.19),
                            0 6px 6px rgba(mui-color('black'), 0.23);

// =======================
// Main button class
// =======================
.mui-btn {
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android
  border: none;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s ease-in-out;

  @include mui-text("button");

  height: $mui-btn-height;
  line-height: $mui-btn-height;
  padding: 0 $mui-btn-padding-horizontal;
  border-radius: $mui-btn-border-radius;
  margin-top: $mui-btn-margin-vertical;
  margin-bottom: $mui-btn-margin-vertical;

  // for ripples
  position: relative; 
  display: inline-block;
  overflow: hidden;

  animation-duration: 0.001s;
  animation-name: mui-node-inserted;
  
  // spacing between buttons
  & +.mui-btn {
    margin-left: $mui-btn-spacing-horizontal;
  }
  
  &:hover,
  &:focus,
  &:active,
  .mui-open > &.mui-dropdown-toggle {
    color: $mui-btn-default-font-color;
  }
  
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: $mui-btn-box-shadow-raised;
  }
  
  &:active,
  .mui-open > &.mui-dropdown-toggle {
    outline: 0;
    background-image: none;
    box-shadow: $mui-btn-box-shadow-active;
  }
  
  &[disabled],
  &.mui-disabled,
  fieldset[disabled] & {
    cursor: $mui-cursor-disabled;
    pointer-events: none;
    opacity: 0.60;
    box-shadow: none;
  }

  // icons
  i {
    font-size: 1.3rem;
    line-height: inherit;
  }
}


// Button sizes
.mui-btn-lg {
  height: $mui-btn-height-lg;
  line-height: $mui-btn-height-lg;
}


// Flat buttons
.mui-btn-flat {
  background-color: $mui-btn-flat-bg-color;

  &:hover,
  &:focus,
  &:active,
  .mui-open > &.mui-dropdown-toggle {
    box-shadow: none;
    background-color: $mui-btn-flat-bg-color-hover;
  }
}


// Raised buttons
.mui-btn-raised {
  box-shadow: $mui-btn-box-shadow-raised;
  transition: all 0.2s ease-in-out;

  &:not(:disabled) {
    &:active {
      box-shadow: $mui-btn-box-shadow-active;
    }
  }
}


// Button colors
.mui-btn-default {
  @include button-variant($mui-btn-default-font-color,
                          $mui-btn-default-bg-color);

  @include button-flat-variant($mui-btn-default-font-color,
                               $mui-btn-flat-bg-color-hover);
}


.mui-btn-primary {
  @include button-variant($mui-btn-primary-font-color,
                          $mui-btn-primary-bg-color);

  @include button-flat-variant($mui-btn-primary-bg-color,
                               $mui-btn-flat-bg-color-hover);
}


.mui-btn-danger {
  @include button-variant($mui-btn-danger-font-color,
                          $mui-btn-danger-bg-color);

  @include button-flat-variant($mui-btn-danger-bg-color,
                               $mui-btn-flat-bg-color-hover);
}


.mui-btn-accent {
  @include button-variant($mui-btn-accent-font-color,
                          $mui-btn-accent-bg-color);

  @include button-flat-variant($mui-btn-accent-bg-color,
                               $mui-btn-flat-bg-color-hover);
}


// Floating button
.mui-btn-floating {
  position: relative;
  z-index: 1;
  width: 55px;
  height: 55px;
  line-height: 55px;
  padding: 0;
  border-radius: 50%;
  color: $mui-btn-floating-font-color;
  background-color: $mui-btn-floating-bg-color;
  @extend .mui-btn-raised;

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      color: $mui-btn-floating-font-color;
      background-color: lighten($mui-btn-floating-bg-color, 5%);
    }
  }
  
  i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: $mui-btn-floating-font-color;
    font-size: 1.6rem;
    line-height: 55px;
  }
}


.mui-btn-floating-mini {
  width: 40px;
  height: 40px;
  line-height: 40px;
  
  i {
    line-height: 40px;
  }
}
