// insertion alert
@keyframes #{$mui-prfx}dropdown-inserted {
  from {opacity: 0.99;}
  to {opacity: 1;}
}

// Dropdown wrapper
.#{$mui-prfx}dropdown {
  position: relative;

  animation-duration: 0.001s;
  animation-name: #{$mui-prfx}dropdown-inserted;

  // remove outline
  [data-toggle="dropdown"]:focus {
    outline: 0;
  }
}

// The dropdown menu (ul)
.#{$mui-prfx}dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: $mui-base-font-size;
  text-align: left;
  background-color: $mui-dropdown-background-color;
  border-radius: $mui-dropdown-border-radius;
  @extend .#{$mui-prfx}z1;
  background-clip: padding-box;

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $mui-base-line-height;
    color: $mui-dropdown-link-font-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
}

// Hover/Focus state
.#{$mui-prfx}dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $mui-dropdown-link-font-color-hover;
    background-color: $mui-dropdown-link-background-color-hover;
  }
}

// Active state
.#{$mui-prfx}dropdown-menu > .#{$mui-prfx}active > a {
  &,
  &:hover,
  &:focus {
    color: $mui-dropdown-link-font-color-active;
    text-decoration: none;
    outline: 0;
    background-color: $mui-dropdown-link-background-color-active;
  }
}

// Disabled state
.#{$mui-prfx}dropdown-menu > .#{$mui-prfx}disabled > a {
  &,
  &:hover,
  &:focus {
    color: $mui-dropdown-link-font-color-disabled;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    cursor: $mui-cursor-disabled;
  }
}

// Open state for the dropdown
.#{$mui-prfx}open {
  // Show the menu
  > .#{$mui-prfx}dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Backdrop to catch body clicks on mobile etc
.#{$mui-prfx}dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

// Right aligned dropdowns
.#{$mui-prfx}pull-right > .#{$mui-prfx}dropdown-menu {
  right: 0;
  left: auto;
}
