/**
 * MUI Helpers module
 */

// ============================================================================
// NODE-INSERTED
// ============================================================================

@keyframes mui-node-inserted {
  from {opacity: 0.99;}
  to {opacity: 1;}
}




// ============================================================================
// ANIMATION
// ============================================================================

.mui-notransition {
  transition: none !important;
}




// ============================================================================
// CARET
// ============================================================================

.mui-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   $mui-caret-width solid;
  border-right: $mui-caret-width solid transparent;
  border-left:  $mui-caret-width solid transparent;
}




// ============================================================================
// ALIGNMENT HELPERS
// ============================================================================

.mui-text-left           { text-align: left !important; }
.mui-text-right          { text-align: right !important; }
.mui-text-center         { text-align: center !important; }
.mui-text-justify        { text-align: justify !important; }
.mui-text-nowrap         { white-space: nowrap !important; }

.mui-align-baseline      { vertical-align: baseline !important; }
.mui-align-top           { vertical-align: top !important; }
.mui-align-middle        { vertical-align: middle !important; }
.mui-align-bottom        { vertical-align: bottom !important; }




// ============================================================================
// LISTS
// ============================================================================

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.mui-list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.mui-list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}




// ============================================================================
// DEPTH HELPERS
// ============================================================================

.mui-z1 {
  box-shadow: 0 1px 3px rgba(mui-color('black'), 0.12),
              0 1px 2px rgba(mui-color('black'), 0.24);
}

.mui-z2 {
  box-shadow: 0 3px 6px rgba(mui-color('black'), 0.16),
              0 3px 6px rgba(mui-color('black'), 0.23);
}

.mui-z3 {
  box-shadow: 0 10px 20px rgba(mui-color('black'), 0.19),
              0 6px 6px rgba(mui-color('black'), 0.23);
}

.mui-z4 {
  box-shadow: 0 14px 28px rgba(mui-color('black'), 0.25),
              0 10px 10px rgba(mui-color('black'), 0.22);  
}

.mui-z5 {
  box-shadow: 0 19px 38px rgba(mui-color('black'), 0.30),
              0 15px 12px rgba(mui-color('black'), 0.22);
}




// ============================================================================
// FLOAT HELPERS
// ============================================================================

.mui-clearfix {
  @include clearfix;
}

.mui-pull-right {
  float: right !important;
}

.mui-pull-left {
  float: left !important;
}




// ============================================================================
// TOGGLE HELPERS
// ============================================================================

.mui-hide {
  display: none !important;
}

.mui-show {
  display: block !important;
}

.mui-invisible {
  visibility: hidden;
}




// ============================================================================
// RESPONSIVE UTILITIES
// ============================================================================

.mui-visible-xs-block,
.mui-visible-xs-inline,
.mui-visible-xs-inline-block,
.mui-visible-sm-block,
.mui-visible-sm-inline,
.mui-visible-sm-inline-block,
.mui-visible-md-block,
.mui-visible-md-inline,
.mui-visible-md-inline-block,
.mui-visible-lg-block,
.mui-visible-lg-inline,
.mui-visible-lg-inline-block {
  display: none !important;
}

@media (max-width: $mui-screen-xs-max) {
  @include responsive-visibility('.mui-visible-xs');
}

.mui-visible-xs-block {
  @media (max-width: $mui-screen-xs-max) {
    display: block !important;
  }
}

.mui-visible-xs-inline {
  @media (max-width: $mui-screen-xs-max) {
    display: inline !important;
  }
}

.mui-visible-xs-inline-block {
  @media (max-width: $mui-screen-xs-max) {
    display: inline-block !important;
  }
}

@media (min-width: $mui-screen-sm-min) and (max-width: $mui-screen-sm-max) {
  @include responsive-visibility('.mui-visible-sm');
}

.mui-visible-sm-block {
  @media (min-width: $mui-screen-sm-min) and (max-width: $mui-screen-sm-max) {
    display: block !important;
  }
}

.mui-visible-sm-inline {
  @media (min-width: $mui-screen-sm-min) and (max-width: $mui-screen-sm-max) {
    display: inline !important;
  }
}

.mui-visible-sm-inline-block {
  @media (min-width: $mui-screen-sm-min) and (max-width: $mui-screen-sm-max) {
    display: inline-block !important;
  }
}

@media (min-width: $mui-screen-md-min) and (max-width: $mui-screen-md-max) {
  @include responsive-visibility('.mui-visible-md');
}

.mui-visible-md-block {
  @media (min-width: $mui-screen-md-min) and (max-width: $mui-screen-md-max) {
    display: block !important;
  }
}

.mui-visible-md-inline {
  @media (min-width: $mui-screen-md-min) and (max-width: $mui-screen-md-max) {
    display: inline !important;
  }
}

.mui-visible-md-inline-block {
  @media (min-width: $mui-screen-md-min) and (max-width: $mui-screen-md-max) {
    display: inline-block !important;
  }
}

@media (min-width: $mui-screen-lg-min) {
  @include responsive-visibility('.mui-visible-lg');
}

.mui-visible-lg-block {
  @media (min-width: $mui-screen-lg-min) {
    display: block !important;
  }
}

.mui-visible-lg-inline {
  @media (min-width: $mui-screen-lg-min) {
    display: inline !important;
  }
}

.mui-visible-lg-inline-block {
  @media (min-width: $mui-screen-lg-min) {
    display: inline-block !important;
  }
}

@media (max-width: $mui-screen-xs-max) {
  @include responsive-invisibility('.mui-hidden-xs');
}

@media (min-width: $mui-screen-sm-min) and (max-width: $mui-screen-sm-max) {
  @include responsive-invisibility('.mui-hidden-sm');
}

@media (min-width: $mui-screen-md-min) and (max-width: $mui-screen-md-max) {
  @include responsive-invisibility('.mui-hidden-md');
}

@media (min-width: $mui-screen-lg-min) {
  @include responsive-invisibility('.mui-hidden-lg');
}
