.#{$prfx}panel {
  padding: $panel-padding;
  margin-bottom: $base-line-height-computed;
  border-radius: $panel-border-radius;
  background-color: $panel-bg;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
              0 0px 2px 0 rgba(0, 0, 0, 0.12);
  @include clearfix();
}
