// ===========================
// Ripple styles
// ===========================
.#{$mui-prfx}ripple-effect{
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  
  animation: #{$mui-prfx}ripple-animation 2s;
}


@keyframes #{$mui-prfx}ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}


// =======================
// Button-specific styles
// =======================
.#{$mui-prfx}btn-default > .#{$mui-prfx}ripple-effect {
  background-color: $mui-btn-default-ripple-color;
}

.#{$mui-prfx}btn-primary > .#{$mui-prfx}ripple-effect {
  background-color: $mui-btn-primary-ripple-color;
}

.#{$mui-prfx}btn-danger > .#{$mui-prfx}ripple-effect {
  background-color: $mui-btn-danger-ripple-color;
}

.#{$mui-prfx}btn-flat > .#{$mui-prfx}ripple-effect {
  background-color: $mui-btn-flat-ripple-color;
}

.#{$mui-prfx}btn-floating > .#{$mui-prfx}ripple-effect {
  background-color: $mui-btn-floating-ripple-color;
}
