/**
 * MUI Semantic module
 */

// Strong
strong {
  font-weight: 700;
}

// Abbreviations
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $mui-abbr-border-color;
}

// headers
h1 {
  @extend .mui-text-display1;
}

h2 {
  @extend .mui-text-headline;
}

h3 {
  @extend .mui-text-title;
}

h4 {
  @extend .mui-text-subhead;
}

h5 {
  @extend .mui-text-body2;
}

h1, h2, h3 {
  margin-top: $mui-base-line-height-computed;
  margin-bottom: ($mui-base-line-height-computed / 2);
}

h4, h5, h6 {
  margin-top: ($mui-base-line-height-computed / 2);
  margin-bottom: ($mui-base-line-height-computed / 2);
}
