// Strong
strong {
  font-weight: 700;
}

// Abbreviations
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}

// headers
h1 {
  @extend .#{$prfx}text-display1;
}

h2 {
  @extend .#{$prfx}text-headline;
}

h3 {
  @extend .#{$prfx}text-title;
}

h4 {
  @extend .#{$prfx}text-subhead;
}

h5 {
  @extend .#{$prfx}text-body2;
}

h1, h2, h3 {
  margin-top: $base-line-height-computed;
  margin-bottom: ($base-line-height-computed / 2);
}

h4, h5, h6 {
  margin-top: ($base-line-height-computed / 2);
  margin-bottom: ($base-line-height-computed / 2);
}
