//
// MUI Util module
//

@use "sass:map";
@use "sass:meta";

@use "colors";


@function mui-color($key1, $key2: '500') {
  // check key1
  @if map.has-key(colors.$color-map, $key1) == false {
    @warn "Color `#{$key1}` not found.";
    @return null;
  }
  
  $val: map.get(colors.$color-map, $key1);

  // use second key
  @if meta.type-of($val) == 'map' {
    // check key2
    @if map.has-key($val, $key2) == false {
      @warn "Color `#{$key1}` `#{$key2}` not found.";
      @return null;
    }

    $val: map.get($val, $key2);
  }

  @return $val;
}


// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";  // 1
    display: table;  // 2
  }
  &:after {
    clear: both;
  }
}

@mixin container-fixed($gutter: $mui-grid-gutter-width) {
  @include clearfix();

  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin tab-focus() {
  // Default
  outline: thin dotted;

  // WebKit
  outline: mui-rem(5px) auto -webkit-focus-ring-color;
  outline-offset: mui-rem(-2px);
}
